.env
.venv
.mypy_cache
vectorstore
llm_reviewer/__pycache__
llm_reviewer/streamlit/__pycache__
streamlit/__pycache__
llm_reviewer/response/*.md
llm_reviewer/response/*.json
llm_reviewer/docs/*
!llm_reviewer/docs/standard_documentation.pdf